{% extends "base.html" %}

{%  load rating_extras %}

{%  block content %}

    <div class="container">
    <br>
        <div class="row">
            <div class="col">
                <h3>Album</h3>
            </div>
            <div class="col text-right">
                 <a class="btn btn-success" href="{% url "album:create" %}">Add Album</a>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th>Album Name</th>
                        <th>Artist Name</th>
                        <th>Genre</th>
                        <th>Released Date</th>
                        <th>Length</th>
                        <th>Added by</th>
                        <th>Rating (1-10)</th>
                        <th>Your Rating</th>
                        <th>Edit Rating</th>
                        <th>Delete Rating</th>
                    </tr>
                </thead>
                <tbody>
                {% for album in album_list %}
                    <tr>
                    <td>{{ album.album_name }}</td>
                    <td>{{ album.artist_name }}</td>
                    <td>{{ album.get_genre }}</td>
                    <td>{{ album.released_date }}</td>
                    <td>{{ album.length }}</td>
                    <td>{{ album.added_by.username }}</td>
                    <td>{{ album.get_rating }}</td>
                    {% if user_rating|get_rating_user:forloop.counter0 %}
                    <td>{{ user_rating|get_rating_user:forloop.counter0 }}</td>
                        <td><a class="btn btn-secondary" href="{% url "album:update_rating" pk=user_rating|get_rating_id:forloop.counter0 %}">Edit Rating</a></td>
                        <td><a class="btn btn-danger" href="{% url "album:delete_rating" pk=user_rating|get_rating_id:forloop.counter0 %}">Delete Rating</a></td>
                    {% else %}
                    <td><a class="btn btn-success" href="{% url "album:new_rate" album_id=album.id %}">Add Rating</a></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>



{% endblock %}