{% extends "base.html" %}

{%  block content %}

    <div class="container">
    <br>
        <div class="row">
            <div class="col">
                <h3>Album</h3>
            </div>
            <div class="col text-right">
                 <a class="btn btn-success" href="{% url "album:create" %}">Add Album</a>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th>Album Name</th>
                        <th>Artist Name</th>
                        <th>Genre</th>
                        <th>Released Date</th>
                        <th>Length</th>
                        <th>Added by</th>
                        <th>Rating (1-10)</th>
                        <th>Add Rating</th>
                    </tr>
                </thead>
                <tbody>
                {% for album in album_list %}
                    <tr>
                    <td>{{ album.album_name }}</td>
                    <td>{{ album.artist_name }}</td>
                    <td>{{ album.get_genre }}</td>
                    <td>{{ album.released_date }}</td>
                    <td>{{ album.length }}</td>
                    <td>{{ album.added_by.username }}</td>
                    <td>{{ album.get_rating }}</td>
                        <td><a class="btn btn-primary" href="#">Add Rating</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>



{% endblock %}